accounts:
  test:
    server: imap.server.de
    username: imap@account.de
    password: secure_password
    sort_mailbox: INBOX

  gmail:
    enabled: true
    server: imap.gmail.com
    port: 993
    username: user@gmail.com
    password: secure_password
